@model QuizTask.Models.QuizAttempt

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>QuizAttempt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuizAtmp_ID" />
            <div class="form-group">
                <label asp-for="CandidateID" class="control-label"></label>
                <select asp-for="CandidateID" class="form-control" asp-items="ViewBag.CandidateID"></select>
                <span asp-validation-for="CandidateID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quiz_Attempts" class="control-label"></label>
                <input asp-for="Quiz_Attempts" class="form-control" />
                <span asp-validation-for="Quiz_Attempts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

